{% extends 'baseF.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block center %}
    <h1>Nouvelle Reservation</h1>
 <div class="main-container">
    <div class="white-frame"> <!-- Div avec cadre blanc -->
            <div class="table-container"> <!-- Div pour centrer le tableau -->
    {{ include('reservation_e/_form.html.twig') }}

    <a href="{{ path('app_reservation_e_index') }}">back to list</a>
   </div>
   </div>
   </div>
{% endblock %}
