{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <header>
        <img src="{{ absolute_url(asset('images/voltride.jpg')) }}" alt="Logo">
        <h1>Liste des réservations</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Nombre de Personnes</th>
                    <th>Commentaire</th>
                    <!-- Ajoutez d'autres en-têtes de colonne au besoin -->
                </tr>
            </thead>
            <tbody>
                {% for reservation_e in reservation_e %}
                    <tr>
                        <td>{{ reservation_e.id_e }}</td>
                        
                        <td>{{ reservation_e.nbrPersonne }}</td>
                        <td>{{ reservation_e.commentaire }}</td>
                        <!-- Ajoutez d'autres colonnes au besoin -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
