<form method="post" action="{{ path('app_service_apreslocation_delete', {'idservice': service_apreslocation.idservice}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_apreslocation.idservice) }}">
    <button class="btn">Supprimer</button>
</form>
