
{% extends 'back/back.html.twig' %}

{% block title %}ServiceAprèsLocation{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Creation d'un nouveau Service Après location</h1>
                    </div>
                    <div class="card-body">
                        {{ include('service_apreslocation/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_service_apreslocation_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="submenu">
    <li><a href="{{ path('app_service_apreslocation_index') }}">Service après vente</a></li>
    <li><a href="{{ path('app_z') }}">Type de Service après vente</a></li>
</ul>

{% endblock %}