{% extends 'inscri.html.twig' %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <div class="login-container">
        <form action="{{ path('app_login') }}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        
        <!-- Ajouter le lien "Mot de passe oublié" -->
        <div class="forgot-password">
            <a href="{{ path('app_show_password_recovery_form') }}">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}
