<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body>
    <div style="text-align: left; padding: 20px;">
        <img src="{{ asset('C:\Users\firas\Downloads\0044371c-bc21-477c-9ae8-419cdaa6b169.jpg') }}" alt="Votre Logo" style="width: 100px; height: auto;">
    </div>
    <div style="padding: 20px;">
        <p>{{ text }}</p>
    </div>
</body>
</html>
